body {
  font-family: "Orbitron",sans-serif;
  background-color: black;
  color: white;
}

input {
  display: none;
}

$gray: #a3a3a3;

/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  &__txt {
    font-size: 1rem;
  }
  &__subtxt {
    margin-top: 5px;
    font-size: 0.6rem;
    color: $gray;
  }
}

/* nav-drawer */

.menu-trigger {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 17px;
  &,
  & span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  & span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 8px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}



#hamburger-check:checked {
  & + .menu-trigger {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    span:nth-of-type(1) {
      -webkit-transform: translateY(8px) rotate(-45deg);
      transform: translateY(8px) rotate(-45deg);
    }
    span:nth-of-type(2) {
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
    }
    span:nth-of-type(3) {
      opacity: 0;
    }
  }
}
