.btn, .btn6 {
  position: absolute;
  bottom: 0;
  right: 20px;
  padding: 15px 10px;
  margin:10px 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  color: rgba(0, 0, 0, 0.97);
}


.btn::before {
  content: '';
  position: absolute;
  bottom: calc(50% - 1px);
  left: 0px;
  width: 100%;
  height: 2px;
  background: rgba(102, 132, 255, 0.4);
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn:hover::before {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


/*=======Button 6============= */
.btn6{
  border:1px solid transparent;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.btn6::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6480F7;
  box-shadow: inset 0px 0px 0px #6480F7;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn6:hover::before {
  width:100%;
}

.btn6::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6480F7;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.btn6:hover::after {
  width:100%;
}
.btn6:hover{
  border-left:1px solid #6480F7;
  border-right:1px solid #6480F7;
}
/* Btn 12 */

.button12 {
  cursor: pointer;
  width: 330px;
  height: 64px;
  padding:20px 50px;
  line-height: 64px;
  position: relative;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 0;
  margin-left:20px;
}
.button12 span {
  color: black;
  display: inline-block;
  padding-left: 35px;
  text-transform: uppercase;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}
.button12 em {
  position: absolute;
  height: 1px;
  background-color: #000;
  width: 47%;
  right: 23px;
  top: 50%;
  transform: scaleX(0.25);
  -webkit-transform:scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}
.button12:before,
.button12:after {
  content: '';
  background-color: #000;
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button12:before {
  top: 0;
  left: 0;
  right: auto;
}
.button12:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.button12:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.button12:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.button12:hover span{
  color: white;
}
.button12:hover em {
  background: #000;
  transform: scaleX(.51);
}
