
body {
  font-family: "Lato",sans-serif;
  background-color: #F2F2F2;
  color: black;
  font-weight: 200!important;
  line-height: 1.25rem;
  overflow-scrolling: touch;
}

input {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}


/* header */

.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 46px);
  display: flex;
  justify-content: space-between;
  padding: 20px 23px 15px 23px;
  font-weight: 300;
  line-height: 0.75rem;
  &__txt {
    font-size: 1.25rem;
  }
  &__subtxt {
    margin-top: 8px;
    font-size: 0.75rem;
  }
}

/* nav-drawer */

.nav {
  z-index: 100;
  padding: 70px 50px;
  opacity: 0;
  transition: .4s;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  &__item {
    font-size: 1.5rem;
    margin-top: 40px;
    a {
      position: relative;
      transition: .3s;
      &::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        content: '';
        width: 0;
        height: 2px;
        background-color: black;
        transition: .3s;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

.menu-trigger {
  z-index: 110;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 17px;
  &,
  & span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  & span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    border-radius: 4px;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 8px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}



#hamburger-check:checked {
  & + label {
    .menu-trigger {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      span:nth-of-type(1) {
        -webkit-transform: translateY(8px) rotate(-45deg);
        transform: translateY(8px) rotate(-45deg);
      }
      span:nth-of-type(2) {
        -webkit-transform: translateY(0) rotate(45deg);
        transform: translateY(0) rotate(45deg);
      }
      span:nth-of-type(3) {
        opacity: 0;
      }
    }
    & + .nav {
      transition: .4s;
      opacity: 1;
      left: 0;
      width: 100%;
      background-color: #ffffff;
    }
  }
}

/* section */

.section {
  width: 100%;
  height: 100vh;
  max-height: 568px;
  &__ttl {
    line-height: 25vh;
    font-size: 3rem;
    text-align: center;
  }
}

/* main-visual */

.main-visual {
  font-size: 4rem;
  line-height: 100vh;
  text-align: center;
  &__bar {
    width: 500px;
    position: absolute;
    top: calc(50vh + 2.25rem);
    left: calc(50% - 250px);
  }
  &__txt {
    font-family: "Petit Formal Script",sans-serif !important;
  }
}

/* about */

.about {
  display: flex;
  justify-content: center;
  width: 100%;
  &__icon {
    overflow: hidden;
    width: 350px;
    height: 480px;
    &-img {
      margin-left: calc(-230px);
      height: 480px;
    }
  }
  &__data {
    margin: 0 0 0 50px;
    &-ttl {
      font-size: 2rem;
      margin: 0 0 20px 0;
    }
    &-bar {
      margin: 0 0 10px -20px;
      width: 100%;
      max-width: 290px;
    }
    &-desc {
      width: calc(45vw - 40px);
      font-size: 0.875rem;
      font-family: "Hiragino Kaku Gothic Pro",sans-serif;
      font-weight: 100;
      line-height: 1.5rem;
    }
    & + .about__data {
      .about__data-ttl {
        margin-top: 50px;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 480px;
  }
}

/* skill */

.skill {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  &__item {
    margin: 0 15px;
    width: 25%;
    max-width: 290px;
    &-ttl {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 30px;
    }
    &-bar {
      width: 100%;
      max-width: 290px;
    }
    &-desc {
      margin: 10px 0 0 20px;
      width: calc(100% - 40px);
      max-width: 270px;
      font-size: 0.875rem;
      font-family: "Hiragino Kaku Gothic Pro",sans-serif;
      font-weight: 100;
      line-height: 1.5rem;
    }
  }
}

/* works */

.works {
  overflow-scrolling: touch;
  overflow-x: scroll;
  &__wrapper {
    overflow: hidden;
  }
  &__container {
    display: flex;
    justify-content: center;
    &::-webkit-scrollbar {
      display: none;
    }
    &-item {
      overflow: hidden;
      margin: 0 10px 20px 10px;
      width: 300px;
      min-width: 300px;
      height: 200px;
      background-color: #ffffff;
      img {
        width: 100%;
      }
    }
  }
}

.comingsoon {
  line-height: 200px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #515151;
  color: white;
}

/* copyright */

.copyright {
  margin: 40px 0 20px 0;
  font-size: 0.625rem;
  text-align: center;
}






@media (max-width: 1200px) {

}
@media (max-width: 992px) {
  .works__container {
    justify-content: left;
    margin-left: 20px;
  }
}
@media (max-width: 768px) {
  .section {
    width: 100%;
    height: 100vh;
    &__ttl {
      line-height: 25vh;
      margin-bottom: -2vh;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .main-visual {
    font-size: 2em;
    &__bar {
      width: 240px;
      top: calc(50vh + 1.25rem);
      left: calc(50% - 120px);
    }
  }
  .about {
    &__icon {
      width: 100px;
      &-img {
        margin-left: calc(-300px);
        height: 430px;
      }
    }
    &__data {
      margin: 10px 0 0 40px;
      &-ttl {
        font-size: 1.25rem;
        margin: 0 0 5px 0;
      }
      &-desc {
        display: flex;
        width: calc(100% - 60px);
        font-size: 0.75rem;
        line-height: 1.25rem;
        a {
          margin: 0 15px 0 0;
        }
      }
      & + .about__data {
        .about__data-ttl {
          margin-top: 30px;
        }
      }
    }
  }
  .skill {
    position: relative;
    top: -40px;
    display: initial;
    justify-content: initial;
    &__item {
      display: block;
      margin: 20px 0 20px 20px;
      width: 100%;
      &-ttl {
        text-align: left;
        width: 200px;
        font-size: 1.25rem;
        margin: 0 0 0 20px;
      }
      &-bar {
        width: 250px;
      }
      &-desc {
        width: calc(100vw - 120px);
        max-width: initial;
        font-size: 0.75rem;
        line-height: 1.25rem;
      }
    }
  }
  .works {
    &__container {
      &-item {
        width: 270px;
        min-width: 270px;
        height: 180px;
      }
    }
  }
}
@media (max-width: 576px) {

}
